@CHARSET "UTF-8";

* {
	box-sizing: border-box;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
		"Helvetica Neue", Arial, sans-serif;
	font-size: 1.02em;
	padding: 0px;
	margin: 0px;
}

body {
	background: #fbf1ff;
	padding: 10px;
}

form {
	margin-bottom: 10px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px white inset;
}

table {
	border: 3px solid #e6e2ff;
	background: #cfcfef;
	border-radius: 4px;
	color: #655192;
	padding: 5px;
}

th {
	border-radius: 4px;
	background: #f5e6ff;
}

input[type="submit"] {
	border: 2px solid #a497ff;
	background: #c0c0ff;
	border-radius: 4px;
	color: #44449c;
	padding: 5px;
	width: 100%;
	-webkit-transition: background-color 0.7s, color 0.7s;
}

input[type="submit"]:HOVER {
	background: #b0b0ff;
}

input[type="text"], select {
	background: #f5e6ff;
	border: 1px solid #d1b0ea;
	padding: 5px;
	border-radius: 3px;
}

.errorMessage {
	border: 2px solid #ff97f2;
	background: #ffc0e6;
	border-radius: 4px;
	color: #9c446c;
	padding: 7px;
}

.tdErrorMessage .errorMessage {
	display: block;
}

.table-data td {
	padding: 5px;
	border-radius: 3px;
}

.table-data tr {
	background: #fbf1ff;
}

.table-data tr:HOVER {
	background: #f8e6ff;
}